{% extends "base.html" %} {% block title %}Add New Recipe{% endblock %} {% block content%}
  <h1 align="center">Add New Recipes</h1>
  <div class="shadow p-3 mb-5 bg-body rounded">
      
    <form method="POST">

      <textarea name="recipe_name" id="recipe_name" class="form-control" placeholder="Recipe Name" rows="1"></textarea></br>
      
      <textarea name="recipe_ingredients" id="recipe_ingredients" class="form-control" placeholder="Ingredients" rows="3"></textarea></br>
      
      <textarea name="recipe_body" id="recipe_body" class="form-control" placeholder="Instructions" rows="5"></textarea></br>
      
      <textarea type="text" name="recipe_tags" id="recipe_tags" class="form-control" placeholder="Tags" rows="1"></textarea>
      </br>

      <button type="submit" class="btn btn-secondary" name="submit" value="submit">Submit</button>

    </form>

  </div>
  {% endblock %}
  