{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content%}
  <h1 align="center">Search Results</h1>
  <ul class="list-group list-group-flush" id="recipes">
    {% for recipe in recipes %}
    <div class="shadow p-3 mb-5 bg-body rounded">
    <li class="list-group-item">
      <h4>Recipe: {{ recipe.recipeName }}</h4>
      <small>By: {{ recipe.recipeAuthor }}</small> </br>
      Ingredients: <pre>{{ recipe.recipeIngredients }}</pre>
      Instructions: <pre>{{ recipe.recipeBody }}</pre>
      {% if recipe.recipeTags %}
        <small>Tags: {{ recipe.recipeTags }}</small>
      {% endif %}
    </li>
    </div>
    {% endfor %}
  </ul>
  
  {% endblock %}